name: CI

on: [push]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v1
    - name: Select Xcode
      run: sudo xcode-select -s '/Applications/Xcode_11.3_beta.app/Contents/Developer'
    - uses: actions/cache@v1
      with:
        path: Pods
        key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-pods-
    - name: Pod Install
      if: steps.cache-cocoapods.outputs.cache-hit != 'true'
      run: pod install
    - name: Build
      run: xcodebuild clean build -workspace SimpleMealManager.xcworkspace -scheme SimpleMealManager -destination 'platform=iOS Simulator,OS=latest,name=iPhone 11' 
